.btn_secondary {
  background-color: #f89d4e !important;
  border-color: #f89d4e !important;
  color: #fff !important;
}

// .btn_grey {
//   background-color: #E9ECEF !important;
//   border-color: #E9ECEF !important;
//   color: #212529 !important;
// }

.text-secondary .subtitle {
    color: #f89d4e !important;
}

.narrow_button {
	width: 206px !important;
}

//for the Collapsible
.collapsible {
  margin-top:0.2rem !important;
  margin-bottom:0.2rem !important;
  background-color: #777;
  color: white;
  cursor: pointer;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
