.btn_secondary {
  background-color: #f89d4e !important;
  border-color: #f89d4e !important;
  color: #fff !important;
}

// .btn_grey {
//   background-color: #E9ECEF !important;
//   border-color: #E9ECEF !important;
//   color: #212529 !important;
// }

.text-secondary .subtitle {
    color: #f89d4e !important;
}

.narrow_button {
	width: 206px !important;
}

//for the Collapsible
.collapsible {

  // background-color: #8D9CFA;
  // color: #4E66F8;
  cursor: pointer;
}

.collapsible:hover {
  background-color: #CDD4FC;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
